.flashcard-block__wrapper {
  max-width: 102rem;

  margin: 30px auto 30px auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flashcard-block__title {
  margin-left: 75px;
}
