.flashcard {
  min-width: 280px;
  min-height: 280px;
  max-width: 280px;
  max-height: 280px;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.flashcard-wrapper {
  perspective: 1000px;
  min-width: 280px;
  min-height: 280px;
  max-width: 280px;
  max-height: 280px;
  display: inline-block;
  margin: 0 0px 35px 0px;
  transform: scale(0.9);
  cursor: pointer;
}

.flipper {
  transform: rotateY(180deg) scale(1.1) translate3d(0, -10px, 0);
  transition: all 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  transform-style: preserve-3d;
  position: relative;
  opacity: 1;
}

.unflip {
  transform: rotateY(0deg);
  transition: all 0.7s cubic-bezier(0.6, 0, 0.4, 1);
  transform-style: preserve-3d;
  position: relative;
  opacity: 1;
}

.flashcard__front,
.flashcard__back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
  background: white;
  box-shadow: 0 0.4rem 1.2rem 0.2rem rgba(0, 0, 0, 0.05);
  border: 1px solid #ddd;
}

.flashcard__front {
  z-index: 2;
  transform: rotateY(0deg);
  border-top: none;
  /* box-shadow: 0 -3px 0 0 red; */
  font-size: 29px;
  font-weight: 300;
}

.flashcard__front::before {
  content: '';
  width: 100%;
  height: 3px;
  /* background: #747a7e; */
  position: absolute;
  top: 0px;
  left: 0px;
  border-top: 3px solid #747a7e;
  /* margin-top: -1px; */
}

.flashcard__back {
  transform: rotateY(180deg);
  background: RGBA(250, 250, 250, 1);
  font-size: 20px;
  font-weight: 300;
  line-height: 31.25px;
  word-break: break-word;
  /* padding: 25px; */
  box-sizing: border-box;
  overflow-y: hidden;
}

.flashcard__fadeout-wrapper {
  position: relative;

  height: 100%;
  width: 100%;
}

.flashcard__fadeout {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background: -webkit-linear-gradient(
    rgba(250, 250, 250, 0) 60%,
    RGBA(250, 250, 250, 1) 100%
  );
  background-image: -moz-linear-gradient(
    rgba(250, 250, 250, 0) 60%,
    RGBA(250, 250, 250, 1) 100%
  );
  background-image: -o-linear-gradient(
    rgba(250, 250, 250, 0) 60%,
    RGBA(250, 250, 250, 1) 100%
  );
  background-image: linear-gradient(
    rgba(250, 250, 250, 0) 60%,
    RGBA(250, 250, 250, 1) 100%
  );
  background-image: -ms-linear-gradient(
    rgba(250, 250, 250, 0) 60%,
    RGBA(250, 250, 250, 1) 100%
  );
  opacity: 1;
  transition: all 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
}

.flashcard--hide-fadeout {
  opacity: 0;
}

.flashcard__back--no-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 228px;
  height: 100%;
  opacity: 1;
}

.flashcard__back--scroll {
  margin: 30px auto 30px auto;
  /* padding: 30px 0 30px 0; */
  width: 228px;
  height: 228px;
  overflow: scroll;
  box-sizing: border-box;
  opacity: 1;
}

.flashcard__image {
  width: 100%;
  height: auto;
}

.flashcard__ui-instruction {
  position: absolute;
  bottom: 0;
  right: 5px;
  display: flex;
  align-items: flex-end;
  padding: 0.95rem 0.7rem;
  font-size: 12px;
  line-height: 1;
  font-style: italic;
  letter-spacing: 0.005em;
  color: #707070;
  transition: all 0.1s;
  font-weight: 300;
  opacity: 0.8;
}

.flashcard__ui-instruction:hover {
  opacity: 1;
  color: black;
}
